@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    margin: 0px 0px 0px 18px;
}

nav {
    display: flex;
    height: 65px;
    align-items: center;
    font-family: 'Kanit', sans-serif;


}

.logoimg {
    height: 50px;

}

li a {
    color: white;
    text-decoration: none;
}

li {
    margin: 0px 11px;

}

ul {
    display: flex;
    list-style: none;

}

ul .help {
    color: white;
    margin: 0px 0px 0px 790px;
}

.navtrypremium {
    background-color: rgb(211 69 20);
    color: white;
    display: flex;
    height: 37px;
    width: 138px;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    position: absolute;
    left: 89vw;
}

.loginimg {
    height: 26px;
    position: absolute;
    left: 86vw;
    top: 19px;
}

footer {
    background-color: black;
    color: white;
    height: 400px;
}

.nav-footer {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    justify-content: center;
    align-items: flex-start;
}

.nav-footer li {
    margin: 15px 0px 0px 0px;
}

.nav {
    display: grid;
    margin: 26px 0px 0px 0px;
}

hr {
    margin: 0px 83px;
    position: relative;
    top: 251px;
}

footer .nav-bottom {
    display: flex;
    justify-content: center;
    height: 275px;
    align-items: flex-end;
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.trypremiumbutton {
    text-decoration: none;
    color: white;}